.page {
    max-width: 1600px;
    min-width: 1100px;
    margin: 0 auto;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    min-height: 720px;
    height: 100vh;
    background-color: #FFFFFF;
    background-image: url(../images/background_header.svg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
}

.nav {
    display: flex;
    justify-content: space-between; 
 }

 .recipes {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 800px;
    min-height: 720px;
    height: 100vh;
    background-color: #0a2750;
    background-image: url(../images/background_recipes.svg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
}

.reservation {
    padding: 100px 0 120px;
    background-color: #D9E7FF;
    background-image: url(../images/background_reservation.svg)
}

.form {
    max-width: 385px; 
 }