reservation {
    padding: 100px 0 120px;
    background-color: #D9E7FF;
    background-image: url(../images/background_reservation.svg)
}

.reservation__title {
    margin: 0 0 80px;
    text-align: center;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.reservation__form {
    margin: 0 auto;
}

.form {
   max-width: 385px; 
}

.form__fieldset {
   margin: 0;
   padding: 0;  
   border: none;
}

.form__label {
    margin-bottom: 32px;
    display: block;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.form__label_type_checkbox {
    display: flex;
    justify-content: center;
    border-radius: 2px;
    margin-top: 32px;
    gap: 12px;
}

.form__input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-top: 8px;
    border-radius: 4px;
    height: 60px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
}

.form__button {
    width: 100%;
    padding: 0;
    border-radius: 4px;
    height: 60px;
    opacity: 1;
    transition: opacity 0.3s ease;
    background-color: #2F80ED;
    color: white;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

}

.form__button:hover {
    opacity: 0.7;
}

.input[type="checkbox"] {
    width: 20px;
    height: 20px;
}